@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #292021;
}

#inicio {
  text-align: center;
}
#inicio h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
  color: #FFFDFC;
  text-align: center;
  padding: 20px;
  margin: 10px;
  border-style: inset;
  display: inline-block;
  width: 50%;
}
#inicio h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
  color: #FFFDFC;
  padding: 50px;
  text-align: center;
}
#inicio #parrafo {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-align: center;
  padding: 50px;
  letter-spacing: 0.1em;
  color: #FFFDFC;
}

#menuparrafo {
  margin: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: #FFFDFC;
}

.carousel-inner {
  padding-left: 200px;
  padding-right: 200px;
}

.nav {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../imagenes/bg.jpg);
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 30vh;
  display: flex;
}
.nav .logo {
  width: 4rem;
}

.menu {
  list-style-type: none;
  font-size: 25px;
  padding: 100px;
  font-weight: 600;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}
.menu .menu-item {
  padding: 2rem;
}
.menu .menu-item .menu-link {
  color: #FFFDFC;
}

.contenedor {
  width: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 10px;
  padding: 20px;
  justify-content: center;
  align-content: center;
}
.contenedor .item-grilla {
  display: flex;
  align-items: center;
  border-radius: 4px;
  border: solid #FFFDFC;
  margin: auto;
}

.card {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: rgb(238, 238, 238);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 25px 25px;
  gap: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

/* contenedores para las redes sociales */
.socialContainer {
  width: 52px;
  height: 52px;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 0.3s;
  /* Instagram */
  /* Twitter */
  /* LinkedIn */
  /* Whatsapp */
}
.socialContainer:hover {
  transition-duration: 0.3s;
}
.socialContainer.containerOne:hover {
  background-color: #d62976;
  transition-duration: 0.3s;
}
.socialContainer.containerTwo:hover {
  background-color: #00acee;
  transition-duration: 0.3s;
}
.socialContainer.containerThree:hover {
  background-color: #0072b1;
  transition-duration: 0.3s;
}
.socialContainer.containerFour:hover {
  background-color: #128C7E;
  transition-duration: 0.3s;
}
.socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.3s;
}
.socialContainer .socialSvg {
  width: 17px;
}
.socialContainer .socialSvg path {
  fill: rgb(255, 255, 255);
}
.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  margin: auto;
  justify-content: center;
}
.form .message {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}
.form .flex {
  display: flex;
  width: 100%;
  gap: 6px;
}
.form label {
  position: relative;
}
.form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 5px;
}
.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}
.form label .input:-moz-placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}
.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}
.form label .input:focus + span, .form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}
.form label .input:valid + span {
  color: green;
}
.form label .input01 {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 5px;
}
.form label .input01 + span {
  position: absolute;
  left: 10px;
  top: 50px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}
.form label .input01:-moz-placeholder-shown + span {
  top: 40px;
  font-size: 0.9em;
}
.form label .input01:placeholder-shown + span {
  top: 40px;
  font-size: 0.9em;
}
.form label .input01:focus + span, .form label .input01:valid + span {
  top: 50px;
  font-size: 0.7em;
  font-weight: 600;
}
.form label .input01:valid + span {
  color: green;
}

.fancy {
  background-color: transparent;
  border: 2px solid #cacaca;
  border-radius: 0px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 390;
  letter-spacing: 2px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 8px 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 13px;
}
.fancy::before {
  content: " ";
  width: 1.7rem;
  height: 2px;
  background: #cacaca;
  top: 50%;
  left: 1.5em;
  position: absolute;
  transform: translateY(-50%);
  transform: translateX(230%);
  transform-origin: center;
  transition: background 0.3s linear, width 0.3s linear;
}
.fancy .text {
  font-size: 1.125em;
  line-height: 1.33333em;
  padding-left: 2em;
  display: block;
  text-align: left;
  transition: all 0.3s ease-in-out;
  text-transform: lowercase;
  text-decoration: none;
  color: #818181;
  transform: translateX(30%);
}
.fancy .top-key {
  height: 2px;
  width: 1.5625rem;
  top: -2px;
  left: 0.625rem;
  position: absolute;
  background: white;
  transition: width 0.5s ease-out, left 0.3s ease-out;
}
.fancy .bottom-key-1 {
  height: 2px;
  width: 1.5625rem;
  right: 1.875rem;
  bottom: -2px;
  position: absolute;
  background: white;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}
.fancy .bottom-key-2 {
  height: 2px;
  width: 0.625rem;
  right: 0.625rem;
  bottom: -2px;
  position: absolute;
  background: white;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}
.fancy:hover {
  color: white;
  background: #cacaca;
}
.fancy:hover::before {
  width: 1.5rem;
  background: white;
}
.fancy:hover .text {
  color: white;
  padding-left: 1.5em;
}
.fancy:hover .top-key {
  left: -2px;
  width: 0px;
}
.fancy:hover .bottom-key-1,
.fancy:hover .bottom-key-2 {
  right: 0;
  width: 0;
}

footer {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-align: center;
  color: #FFFDFC;
  background-color: #292021;
  margin-top: 2rem;
}
footer #atajo {
  color: chocolate;
}
footer #atajo:hover {
  color: #FFFDFC;
}

@media (max-width: 1000px) {
  .menu1 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
@media (max-width: 1000px) {
  .contenedor {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
}
@media (max-width: 550px) {
  .menu1 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
@media (max-width: 550px) {
  .contenedor {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}/*# sourceMappingURL=estilos.css.map */