.contenedor {
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    padding:20px;
    justify-content:center;
    align-content: center;

    .item-grilla {
        display:flex;
        align-items: center;
        border-radius: 4px;
        border: solid $colorfuente;
        margin:auto;
    }
}